body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    overflow-x: hidden;
    text-align: center;
    background-color: ghostwhite;
}
img {
    width: 250px;
    height: 250px;
}
